* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2f2f2f;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-family: "Nunito", sans-serif;
}

input {
  border: none;
  outline: none;
}

i {
  color: #5fa7a0;
}

ul {
  list-style: none;
}

#root {
  max-width: 700px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay,
.new-chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-chat-form {
  width: 335px;
  height: 250px;
  background-color: #dce2ec;
  border-radius: 8px;
  padding: 1rem 1.4rem;
  flex-direction: column;
  justify-content: space-between;
}

.form-tab {
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  color: white;
  align-self: start;
}

.form-tab.active {
  color: #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
}

label,
.submit-button {
  font-size: 18px;
}

#chat-name,
#users-name,
.submit-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.submit-button {
  background-color: #2567d9;
  color: white;
  cursor: pointer;
}

.chat-list-header,
.message-area-header {
  height: 84px;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  border-bottom: 2px solid #dce2ec;
}

.chat-list-header > .wrapper,
.message-area-header > .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.plus-icon,
.back-arrow,
.details-icon {
  font-size: 24px;
}

.chat-list {
  padding: 0 20px;
}

.chat-list-item {
  height: 90px;
  padding: 10px 0;
  border-bottom: 1px solid #dce2ec;
  cursor: pointer;
}

.message-area-header {
  background-color: white;
}

.message-area {
  width: 100%;
  height: 100vh;
  background-color: #edf0f4;
  display: flex;
  flex-direction: column;
}

.messages-view {
  width: 100%;
  height: 100%;
  padding: 0 20px 20px;
}

@media only screen and (min-width: 768px) {
  #root {
    width: 100%;
    max-width: 1440px;
  }

  .new-chat-form {
    width: 400px;
    height: 300px;
  }

  label {
    font-size: 24px;
    font-weight: normal;
  }

  #chat-name,
  #users-name,
  .submit-button {
    height: 36px;
    font-size: 20px;
  }

  .form-tab {
    font-size: 30px;
  }
}

.hidden {
  display: none;
}
