* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2f2f2f;
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-family: "Nunito", sans-serif;
}

h2 {
  font-weight: 600;
}

input {
  border: none;
  outline: none;
}

i {
  color: #5fa7a0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

#root {
  max-width: 700px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay,
.new-chat-form,
.new-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-chat-form {
  height: 200px;
}

.new-chat-form,
.new-user-form {
  width: 335px;
  background-color: #dce2ec;
  border-radius: 8px;
  padding: 1rem 1.4rem;
  flex-direction: column;
  justify-content: space-between;
}

.tabs-container {
  align-self: flex-start;
}

.form-tab {
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  color: white;
  align-self: start;
}

.form-tab:nth-child(2) {
  margin-left: 0.8rem;
}

.form-tab.active {
  color: #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
}

label,
.submit-button {
  font-size: 18px;
}

#chat-name,
#users-name,
#user-name,
#new-chat-id,
.submit-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 30px;
  text-align: center;
  border: none;
  font-size: 18px;
}

.submit-button {
  background-color: #2567d9;
  color: white;
  cursor: pointer;
  outline: none;
}

.chat-list-header,
.message-area-header {
  height: 84px;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  border-bottom: 2px solid #dce2ec;
}

.chat-list-header > .wrapper,
.message-area-header > .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.plus-icon,
.back-arrow,
.details-icon,
.send-message-icon {
  font-size: 24px;
}

.chat-list {
  padding: 0 20px;
}

.chat-list-item {
  height: 90px;
  padding: 10px 0;
  border-bottom: 1px solid #dce2ec;
  cursor: pointer;
}

.message-area-header {
  background-color: white;
  flex-shrink: 0;
}

.message-area {
  width: 100%;
  height: 100vh;
  background-color: #edf0f4;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.messages-view {
  width: 100%;
  height: 100%;
  padding: 0 20px 5px;
  flex-shrink: 5;
  overflow: hidden;
}

.message-input-container {
  width: 320px;
  min-height: 38px;
  max-height: 120px;
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 12px;
  box-shadow: 0 4px 4px 0 rgba(80, 80, 80, 0.3);
  display: flex;
  align-items: flex-end;
  padding: 6px 10px;
  overflow: hidden;
}

#message-input {
  font-family: "Lato", sans-serif;
  flex-grow: 1;
  font-size: 18px;
  padding-right: 10px;
  max-height: 100px;
  border: none;
  outline: none;
  resize: none;
}

.send-message-icon {
  border: none;
  outline: none;
  color: #5fa7a0;
  background: none;
}

.list-of-messages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message,
.recieved-message {
  font-weight: 400;
  max-width: 280px;
  max-height: 80px;
  padding: 8px;
  margin: 0.2rem;
  border-radius: 4px;
}

.message.sent {
  align-self: flex-end;
  background-color: #2567d9;
  color: white;
}

.message.recieved {
  align-self: flex-start;
  background-color: white;
  color: #2f2f2f;
}

.new-user-form {
  text-align: center;
  height: 180px;
}

.welcome-message {
  font-size: 24px;
  font-weight: 400;
}

.chat-details-drawer {
  position: absolute;
  width: 300px;
  background-color: white;
  right: -300px;
  padding-top: 20px;
  transition: transform 0.1s linear;
}

.chat-details-drawer.active {
  transform: translateX(-100%);
}

.chat-details-drawer,
.overlay.details-drawer {
  bottom: 0;
  height: calc(100% - 84px);
}

.overlay.details-drawer {
  left: 0;
}

.chat-id-wrapper {
  display: flex;
}

.id-label,
.room-id,
.members-label {
  font-size: 20px;
  font-weight: 400;
}

.room-id {
  margin-left: 2rem;
}

.members-label {
  margin-top: 2rem;
}

.members-list {
  margin-top: 1rem;
  font-size: 18px;
}

.chat-details-drawer > p {
  margin-left: 1.2rem;
}

.drawer-contents {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 15px;
}

.leave-room {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #dd0909;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 4px 0 rgba(80, 80, 80, 0.3);
}

@media only screen and (min-width: 768px) {
  #root {
    width: 100%;
    max-width: 1440px;
  }

  .new-chat-form {
    width: 400px;
    height: 250px;
  }

  label {
    font-size: 24px;
    font-weight: normal;
  }

  #chat-name,
  #users-name,
  .submit-button {
    height: 36px;
    font-size: 20px;
  }

  .form-tab {
    font-size: 30px;
  }

  .chat-list-header,
  .chat-list {
    width: calc(100% / 3);
    margin: 0 auto;
  }

  .message-area {
    width: 75%;
    padding-bottom: 16px;
    margin: 0 auto;
  }

  .message-input-container {
    width: 500px;
    height: 100px;
    position: relative;
    padding-right: 45px;
    margin-top: 0.5rem;
  }

  #message-input {
    font-size: 20px;
  }

  .send-message-icon {
    font-size: 32px;
    position: absolute;
    right: 10px;
    bottom: 3px;
  }

  .messages-view {
    padding: 0 60px;
  }

  .message {
    font-size: 20px;
    padding: 12px;
  }

  .chat-details-drawer,
  .overlay.details-drawer {
    z-index: 2;
  }
}

.hidden {
  display: none;
}
